<pre>   <a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">___</a>    добро пожаловать на мой 
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white"> .^o ~\</a>   open-source веб-сайт!
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">Y /'~) }</a>  <time style="color: var(--maincolor)" id="time">01.01.20, 00:00:00, UTC+0</time>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">l/  / /</a>   <ip id="ip">127.0.0.1, AS00000</ip>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">   ( (</a>    <country id="country">CO, Bestburg, Cobrastan LTD</country>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">    \ \</a>   <user-agent id="user-agent">Internet Explorer 6, Bolgen OS</user-agent></pre>
<script defer src="{{ .Site.BaseURL }}js/clock.js"></script>
<script defer src="{{ .Site.BaseURL }}js/ip.js"></script>
<script defer src="{{ .Site.BaseURL }}js/agent.js"></script>





