<pre>   <a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">___</a>    добро пожаловать на мой 
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white"> .^o ~\</a>   open-source веб-сайт!
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">Y /'~) }</a>  <time style="color: var(--maincolor)" id="time">ты выключил js</time>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">l/  / /</a>   <ip id="ip">и времени тут нет</ip>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">   ( (</a>    <country id="country">и нет тут твоего ip</country>
<a href="https://github.com/fruworg/fruw.org" style="border: none; color:white">    \ \</a>   <user-agent id="user-agent">и user'а agent'а нет</user-agent></pre>
<script src="{{ .Site.BaseURL }}js/clock.js"></script>
<script src="{{ .Site.BaseURL }}js/ip.js"></script>
<script src="{{ .Site.BaseURL }}js/agent.js"></script>





